
@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../fonts/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Ubuntu-Regular.woff") format("woff"),
  url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/Ubuntu-Light.eot");
  src: url("../fonts/Ubuntu-Light.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Ubuntu-Light.woff") format("woff"),
  url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../fonts/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu-Medium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Ubuntu-Medium.woff") format("woff"),
  url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.wrapper {
	display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  background-color: #fafafa;
}

.header__up-mobile {
  display: flex;
  width: 100%;
  min-height: 95px;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: "Ubuntu-Regular";
  color: #ffffff;
  background-color: #000000;
}
.header__up-text {
  margin: auto;
  margin-left: 5%;
}
.header__up-currency {
  display: flex;
  flex-grow: 8;
  text-transform: uppercase;
}
.header__up-сelection {
  display: flex;
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #ffffff;
}
.header__up-logo {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  color: #444444;
}
.header__up-mobile .header__up-logo {
  flex-grow: 7;
  border-left: 3px solid #444444;
}
.header__up-logo-img {
  margin: auto 0 auto ;
}
.header__up-login {
  display: flex;
  flex-grow: 30;
  text-transform: uppercase;
  border-right: 3px solid #444444;
}
.header__up-search {
  display: flex;
  flex-grow: 10;
}
.header__up-search-img {
  margin: auto;
}
.header__up-planshet {
  display: none;
}
.header__login-buttons {
  display: none;
  min-height: 50px;
}
.header__logo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 37px;
  font-family: 'Ubuntu-Regular';
  font-size: 28px;
  text-transform: uppercase;
  min-height: 50px;
}
.header__logo-firstname {
  font-size: 50px;
}
.header__logo-name {
  margin: auto;
  text-align: center;
}
.header__cart {
  display: flex;
  width: 100%;
  padding: 0 2%;
  min-height: 50px;
}
.header__cart-logo {
  display: flex;
  flex-grow: 5;
  min-height: 50px;
}
.header__cart-logo-img {
  margin: auto 0 auto 5%;
}
.header__cart-ballance {
  display: flex;
  flex-grow: 75;
  min-height: 50px;
}
.header__cart-text {
  margin: auto 0;
}
.header__cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 45;
  background-color: #0000ff;
  min-height: 50px;
  padding: auto;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.header__cart-search {
  display: none;
}

.main-nav {
  position: relative;
  width: 96%;
  margin: 0 auto;
	min-height: 50px;
  text-transform: uppercase;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #ededed;
  cursor: pointer;
  border: none; 
}
.main-nav__toggle:hover {
  background-color: #e1e1e1; 
}
.main-nav__toggle:active {
  background-color: #e1e1e1;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; 
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; 
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0; 
}
.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #000000; 
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none; 
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg); 
}
.main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
  background-color: #000000; 
}
.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;
  list-style: none; 
}
.main-nav__items {
  font-weight: bold; 
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ededed;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e2e2e2; 
}
.main-nav__item a[href]:hover {
  background-color: #e1e1e1;
  border-top-color: #e1e1e1; 
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #8d8d8d;
  border-top-color: #8d8d8d; 
}
.main-nav--closed .main-nav__item {
  display: none; 
}
.main-nav--closed .main-nav__item--active {
  display: block; 
}
.hidden {
  display: none;
}
.main-nav--closed .main-nav__item--active a {
  padding-right: 70px;
  padding-right: 70px;
}
.main-nav--closed .main-nav__user-items {
  display: none; 
}
.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 70px;
  z-index: 10;
  height: 80vh;
  /*background-color: #6a4d38; */
}
.main-nav--nojs .main-nav__toggle {
  display: none; 
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
  height: auto; 
}
.main-nav--nojs .main-nav__item {
  display: block; 
}
.main-nav--nojs .main-nav__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}
.main-nav--nojs .main-nav__user-items {
  display: block;
  background-color: #8d8d8d; 
} 





.email {
	background-color: green;
	min-height: 50px;
}
.lookbook {
	background-color: yellow;
  min-height: 50px;
  display: none;
}
.best {
	background-color: pink;
	min-height: 50px;
}
.special {
	background-color: orange;
	min-height: 50px;
}
.brands {
	background-color: brown;
  min-height: 50px;
  display: none;
}
.instagram {
	background-color: royalblue;
  min-height: 50px;
  display: none;
}
.follow {
	background-color: grey;
	min-height: 50px;
}
.footer {
  background-color: black;
	min-height: 50px;
}
@media screen and (min-width: 640px) {
  .header {
    margin-bottom: 20px;
  }
  .header__up-mobile {
    display: none;
  }
  .header__up-planshet {
    display: flex;
    width: 100%;
    min-height: 30px;
    margin-bottom: 20px;
    font-size: 11px;
    font-family: "Ubuntu-Regular";
    color: #ffffff;
    background-color: #000000;
  }
  .header__up-shipping {
    display: flex;
    flex-grow: 17;
  }
  .header__up-quality {
    display: flex;
    flex-grow: 55;
    justify-content: flex-start;
  }
  .header__up-phone {
    display: flex;
    flex-grow:5;
  }
  .header__login-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
    text-transform: uppercase;
    text-align: center;
  }
  .header__login-button {
    margin: 1% 11%;
    padding: 8% 1%;
    flex-basis: 100%;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
  }
  .header__logo {
    width: 40%;
  }
  .header__cart {
    width: 36%; 
    flex-wrap: wrap; 
    flex-grow: 1;
  }
  .header__cart-search {
    display: flex;
    width: 100%;
  }
  .header__cart-search-text {
    margin: auto;
    margin-left: 0;
  }
  .header__cart-search-img{
    display: flex;
  }
  .header__cart-search-img img{
    margin: auto;
  }








  .lookbook {
    display: block;
  }
  .brands {
    display: block;
  }
  .instagram {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__up-planshet {
    padding-left: 10%;
    padding-right: 10%;
  }
  .header__cart {
    padding: 0 12% 0 2%;
  }
  .header__login-buttons {
    width: 30%;
   }
  .header__login-button {
    margin: 1% 37%;
    padding: 3% 1%;
  }
  .header__cart {
    width: 26%; 
  }
  .header__logo {
    width: 30%;
  }

  .main-nav__toggle {
    display: none; 
  }
  .main-nav--closed .main-nav__item {
    display: flex; 
  }
  .main-nav {
    width: 78%;
  }
  .main-nav__items {
    display: flex;
  }
  .main-nav__item:first-child {
    display: none;
  }
  .main-nav--closed .main-nav__item--active a {
    text-align: center;
  }
  .main-nav__item a {
  background-color: #f1f1f1;
}
  
  .menu__current a{
    background-color: #e1e1e1;
  }



}